* { margin: 0; padding: 0; box-sizing: border-box; }
html, body { width: 100%; height: 100%; }
.u-construction { width: 100%; height: 100%; display:flex; justify-content: center; align-items: center; }
.u-construction h2 { font-size: 30px; color: #333; }